<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/abe489da-01c9-4068-b7d5-1cd8156d601d/resourcegroups/RG-AKS-MRBOT/providers/Microsoft.ContainerRegistry/registries/MrBotRegistry</ResourceId>
    <ResourceName>MrBotRegistry</ResourceName>
    <ResourceGroup>RG-AKS-MRBOT</ResourceGroup>
    <Subscription>MPN150</Subscription>
    <RegistryUrl>https://mrbotregistry.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>1b2647b2-62a8-4709-9330-d63eab2d55d9</ProjectGuid>
  </PropertyGroup>
</Project>